extends template

block content
  .card
    .card-header
      h3
        a(href="/") Home
        | // 
        = name
    .card-block
      if !(json instanceof Array)
        pre
          code.json= JSON.stringify(json, null, '  ')
      else        
        .row
          each document in json 
            .col-md-6
              .card
                .card-header
                  h4= document.name
                .card-body
                  ul.list-group.list-group-flush
                    each property, propertyName in document
                      if propertyName != "name" && propertyName != "__v"
                        li.list-group-item
                          .row
                            .col-md-3= propertyName
                            .col-md-9                              
                              if propertyName == "_id"
                                a(href="/html/"+name+"/"+property)= property
                              else
                                pre
                                  code.json= JSON.stringify(property, null, '  ')
              br
                      
    
  br
  .accordion
    .card
      .card-header
        h3
          button.btn.btn-link(data-toggle="collapse" data-target="#schema", aria-expanded="true", aria-controls="schema") Show Schema
      div.collapse(id="schema", aria-labelledby="schema" data-parent="#accordion")
        .card-block                  
          pre
            code.json= JSON.stringify(schema, null, '  ')
