extends template

block content
  div.pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
    h1.display-6 BiogeniQ-API : Hackathon 2018
    p.lead Vous naviguez présentement sur l'API de BiogeniQ. 
  div.container-fluid
    .card-deck.mb-3.text-center
      each model, modelName in models
        .col-md-6.accordion        
          .card.md-6.box-shadow
            .card-header   
              .row
                .col-md-7
                  h4.my-0.font-weight-normal= modelName  
                    button.btn.btn-link(data-toggle="collapse" data-target="#"+modelName, aria-expanded="true", aria-controls=modelName) >>                        
                .col-md-5
                  button.btn.btn-md.btn-body.btn-outline-primary(type="button")
                    a(href='/html/'+modelName, style="color:darkblue") html
                  span 
                  button.btn.btn-md.btn-body.btn-primary(type="button")
                    a(href='/json/'+modelName, style="color:white") json     
                  span 
                  button.btn.btn-md.btn-body.btn-primary(type="button")
                    a(href='/csv/'+modelName, style="color:white") csv          
            div.collapse(id=modelName, aria-labelledby=modelName data-parent="#accordion")              
              .card-body
                ul.list-unstyled.mt-3.mb-4
                  each property, propertyName in model.schema.paths
                    if propertyName != "__v"
                      li= propertyName
            
    footer.pt-4.my-md-5.pt-md-5.border-top
            
